#sidebar {
  position: sticky;
  top: 4rem;
  background-color: #000;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 1rem;
  padding: 4rem 1rem;

  /* height: 70vh; */
  border-radius: 10px;
}
#sidebar #search {
  width: 80%;
  padding: 0.6rem;
  background-color: #fff;
  border: none;
}
#sidebar #sort {
  width: 80%;
  padding: 0.6rem;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
}

#sidebar .category {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #fff;
  padding: 1rem 0;
}
#sidebar .category button {
  width: 80%;
  padding: 5px 1rem;
  border-radius: 50px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
}
@media screen and (max-width: 992px) {
  #sidebar {
    padding: 1rem;
  }
  #search,
  #sort {
    width: 100%;
  }
  #sidebar .category button {
    width: min-content;
  }
}
